<div class="container text-center">
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col custom-navbar">
            <nav class="navbar custom-navbar navbar-expand-lg" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">SISTEMA WEB</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" href="/">Cadastrar</a>
                            <a class="nav-link active" aria-current="page" href="/consulta">Consultar</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-white">
            &nbsp;
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-white">
            <p class="text-start fs-5">Cadastrar - Agendamento de Potenciais Clientes</p>
            <p class="text-start fs-6">Sistema Utilizado para agendamento de serviços.</p>
            <p>
            <div class="container text-center">
                <div class="row custom-navbar">
                    <div class="col text-light">
                        Nome
                    </div>
                    <div class="col text-light">
                        Telefone
                    </div>
                    <div class="col text-light">
                        Origem
                    </div>
                    <div class="col text-light">
                        Data de Contato
                    </div>
                    <div class="col text-light">
                        Observação
                    </div>
                    <div class="col text-light">
                        Ações
                    </div>
                </div>
                <div class="row">
                    <div class="col text-light">
                        &nbsp;
                    </div>
                    <div class="col text-light">
                        &nbsp;
                    </div>
                    <div class="col text-light">
                        &nbsp;
                    </div>
                    <div class="col text-light">
                        &nbsp;
                    </div>
                    <div class="col text-light">
                        &nbsp;
                    </div>
                    <div class="col text-light">
                        &nbsp;
                    </div>
                </div>
                 {{#each posts}}
                 {{#dataValues}}
                  <div class="row">
                    <div class="col text-dark">
                        {{nome}}
                        &nbsp;
                    </div>
                    <div class="col text-dark">
                        {{telefone}}
                        &nbsp;
                    </div>
                    <div class="col text-dark">
                        {{origem}}
                        &nbsp;
                    </div>
                    <div class="col text-dark">
                        {{data_contato}}
                        &nbsp;
                    </div>
                    <div class="col text-dark">
                        {{observacao}}
                        &nbsp;
                    </div>
                    <div class="col" role="group">
                        <a href="editar/{{id}}" class="btn custom-button2">Editar</a>
                        <a href="excluir/{{id}}" class="btn custom-button3">Excluir</a>
                    </div>
                </div>
                {{/dataValues}}
                {{/each}}
            </div>
            </p>
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
</div>
 
 <style>
    .custom-navbar {
        background-color: #96d7eb !important;
    }

    .custom-button {
        background-color: #96d7eb !important;
    }

    .custom-button2 {
        background-color: #5191c1 !important;
    }

    .custom-button3 {
        background-color: #ec6349 !important;
    }
</style>